<div class="container-fluid conF-1">

    <a href="/use/index" class="logo">
        <img src="/assets/images/logo.png">
    </a>

    <a href="adminLogout" class="logout">
        <img src="/assets/images/logout.png" class="logoutImg"><span>Logout</span>
    </a>
</div>