<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

        <link rel="stylesheet" href="/assets/css/admin/dashboard.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />



        <title>Admin Dashboard</title>
</head>

<body>

        <!-- Navbar -->
        <%- include('../../views/admin/adminNavbar.ejs') %>
                <!-- Navbar -->
                <br>



                <div class="container-fluid conF-2">
                        <div class="row1">

                                <div class="con-1 ">
                                        <div class="box-1">
                                                <a href="" class="AdminLogo"><img src="/assets/images/admin.png"
                                                                class="adminIcon" alt=""> <span
                                                                class="adminName">Admin</span></a>
                                        </div>
                                        <a href="adminDashboard">
                                                <button class="btns btnDashboard btnColor"><img class="img"
                                                                src="/assets/images/grid.png" alt=""><span
                                                                class="btnvalue">Dashboard</span></button>
                                        </a>
                                        <a href="ProductList">
                                                <button class="btns btnProducts"><img class="img"
                                                                src="/assets/images/grid.png" alt=""><span
                                                                class="btnvalue">Products</span></button>
                                        </a>
                                        <a href="Category">
                                        <button class="btns btnCategory"><img class="img" src="/assets/images/grid.png"
                                                        alt=""><span class="btnvalue"><span>Category</span></button>
                                        </a>
                                        <a href="orderHistory">
                                        <button class="btns btnOrder"><img class="img" src="/assets/images/grid.png"
                                                        alt=""><span class="btnvalue">Order History</span></button>
                                        </a>
                                      <a href="coupon">
                                          <button class="btns btnCoupon"><img class="img" src="/assets/images/grid.png"
                                                        alt=""><span class="btnvalue">Coupon</span></button>
                                      </a>
                                      <a href="salesReport">
                                        <button class="btns btnSRate"><img class="img" src="/assets/images/grid.png"
                                                        alt=""><span class="btnvalue">Sales Report</span></button>
                                      </a>
                                        
                                        <a href="CustomerDetails">
                                                <button class="btns btnUser"><img class="img"
                                                                src="/assets/images/grid.png" alt=""><span
                                                                class="btnvalue">User Report</span> </button>
                                        </a>
                                        <a href="offers">
                                                <button class="btns btnBanner"><img class="img" src="/assets/images/grid.png"
                                                        alt=""><span class="btnvalue">Offers</span></button>
                                        </a>
                                      
                                        <button class="btns btnWallet"><img class="img" src="/assets/images/grid.png"
                                                        alt=""><span class="btnvalue">Wallet</span></button>
                                </div>
                                
                                <div class="con-2"></div>
                        </div>
</body>

</html>