<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

        <link rel="stylesheet" href="/assets/css/admin/dashboard.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />



        <title>Admin Dashboard</title>
</head>

<body>

    <div class="container-fluid conF-1">

        <a href="/use/index" class="logo">
            <img src="/assets/images/logo.png">
        </a>
    
        <a href="/logout" class="logout">
            <img src="/assets/images/logout.png" class="logoutImg"><span>Logout</span>
        </a>
    </div>
                <br>



                <div class="container-fluid conF-2"></div>
                                
                <div class="con-2"></div>
</body>

</html>